@import '../styles.module.less';

.TrainingCardHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0;
}

.TrainingCardTitle {
    font-weight: 700;
    font-size: 14px;
    color: var(--character-light-title-85);
}

.CloseButton:global.ant-btn {
    @card-navigation-btn();
}
