.Content:global.ant-layout-content {
    background-color: var(--theme-primary-light-1);
    padding-bottom: 93px;
    flex: none;

    @media (max-width: 575px) {
        padding: var(--space-5);
    }
}

.Layout:global.ant-layout {
    overflow-x: hidden;
}
