.Table:global.ant-table-wrapper {
    .ant-table-row {
        .ant-table-cell {
            padding-block: var(--space-2);

            &:first-child {
                padding-inline: 0;
            }

            &:last-child {
                padding-inline: 0;
            }
        }
    }

    .ant-table-thead {
        & > tr > th {
            background: none;
        }

        .ant-table-cell {
            &:before {
                display: none;
            }

            &:last-child {
                padding-inline: 0;
            }
        }
    }

    .ant-table-cell {
        border-bottom: 0;
        pointer-events: none;
    }
}
