@media screen and (min-width: 0) and (max-width: 61.98em) {
    .filterButton {
        -webkit-padding-start: 0 !important;
        -webkit-padding-end: 0 !important;
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
    }
}

@media screen and (min-width: 62em) {
    .filterButton {
        -webkit-padding-start: 0 !important;
        -webkit-padding-end: 0 !important;
        padding-inline-start: 0 !important;
        padding-inline-end: 0 !important;
    }
}
