.DownloadAppCard:global.ant-card {
    .ant-card-head-title {
        padding-block: var(--space-3);
    }

    .ant-card-body {
        padding: 0;
        display: flex;
    }
}

.Button:global.ant-btn {
    min-width: 0;
    height: 56px;
    flex: 1;
    border-width: 0;
    border-top-width: 1px;
}

.Title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: var(--font-size-sm);
    color: #8c8c8c;

    a {
        font-size: var(--font-size-md);
    }
}
