.header {
    background-color: var(--chakra-colors-lime-50);
    position: static !important;
}

.header[data-menu-open] {
    background-color: white;
}

.header[data-menu-open] .stats {
    visibility: hidden;
}
