.container {
    height: calc(100vh - var(--app-header-height));
    max-height: 652px;
    width: 344px;
}

@media screen and (height >= 652px) {
    .container {
        max-height: 85vh;
        min-height: min(652px, calc(100vh - var(--app-header-height)));
    }
}

@media screen and (height >= 1024px) {
    .container {
        max-height: 876px;
    }
}

@media screen and (height >= 1120px) {
    .container {
        max-height: 896px;
    }
}
