.containerMenu[data-popper-reference-hidden] {
    visibility: hidden;
}

.menu {
    height: var(--chakra-vh);
    max-height: min(636px, calc(var(--chakra-vh) - var(--app-header-height) - 16px));
}

@media screen and (height > 800px) {
    .menu {
        max-height: min(880px, 80vh);
    }
}
