.PageContent:global.ant-layout-content {
    padding-bottom: 42px;

    @media (max-width: 480px) {
        padding-inline: 0;
    }
}

.ContentCard:global.ant-card {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
