.ReviewCard:global.ant-card {
    container: review-card / inline-size;

    .ant-card-body {
        display: flex;
        column-gap: var(--space-3);
        padding: var(--space-4);

        @container review-card (width < 500px) {
            flex-direction: column;
        }
    }
}

.Reviewer :global {
    max-width: 174px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-3) var(--space-4);

    @container review-card (width < 500px) {
        flex-direction: row;
        margin-bottom: var(--space-3);
    }

    .ant-typography {
        width: min-content;
        font-size: var(--font-size-md);
        text-align: center;
        word-break: normal;
        color: var(--character-light-title-85);
    }
}

.Content :global {
    .ant-typography {
        color: var(--character-light-secondary-45);
    }
}

.RateWrap {
    display: flex;
    align-items: end;
    gap: var(--space-4);
    margin-bottom: var(--space-3);

    @container review-card (width < 500px) {
        margin-bottom: var(--space-4);
    }
}
