.TrainingPopover:global.ant-popover {
    pointer-events: none;
    .ant-popover-inner-content {
        padding: 0;
    }
}

.Carousel:global.slick-slider {
    .slick-list {
        transition: height 0.2s;
        overflow: visible;
    }

    .slick-track {
        pointer-events: none;
    }
}
