.Heading {
    margin-bottom: var(--space-8);
    font-weight: 500;
    font-size: var(--font-size-xl);
    text-align: center;
    color: var(--theme-primary-light-9);
}

.Para:global.ant-typography {
    max-width: 521px;
    text-align: center;
    margin: 0 auto;
    color: var(--character-light-secondary-45);
}

.NoReviewsCard:global.ant-card {
    margin-bottom: var(--space-8);
    align-self: stretch;

    .ant-card-body {
        padding-block: 56px;

        @media (max-width: 575px) {
            padding-block: var(--space-8);
        }
    }
}

.Wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 448px) {
        justify-content: start;
    }
}

.Button:global.ant-btn {
    @media (max-width: 448px) {
        width: 100%;
    }
}
