.Calendar:global {
    &.ant-picker-calendar {
        .ant-picker-cell-inner {
            z-index: revert;
        }
    }

    &.ant-picker-calendar-full {
        background: none;

        .ant-picker-panel {
            background: none;
        }

        .ant-picker-cell-inner {
            background: white;
        }
    }
}
