.CardBody {
    padding: var(--space-5);
    padding-top: var(--space-4);
    background: var(--theme-gray-2);
    padding-left: 12px;

    @media (max-width: 480px) {
        padding-inline: 12px;
    }
}
