.Layout:global.ant-layout {
    background-image: url('/auth-page-light.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.Content:global.ant-layout-content {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(6px);
    background-color: rgba(121, 156, 212, 0.5);
}
