.SearchContainer:global.ant-row {
    max-width: 734px;
    margin-bottom: var(--space-5);
    justify-content: space-between;
    align-items: center;
}

.BackButton:global.ant-btn {
    font-size: var(--font-size-lg);
    font-weight: 500;
    color: var(--character-light-title-85);
    height: auto;
    position: relative;
    right: 12px;
}

.InputSearch:global.ant-input-group-wrapper {
    max-width: 484px;

    .ant-input,
    .ant-input-search-button {
        height: 28px;
    }
}
