.NoTrainingsScreenContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.NoTrainingsPara:global.ant-typography {
    font-size: var(--font-size-xl);
    color: var(--character-light-title-85);
    font-weight: 500;
    margin-bottom: 76px;
}

.NewTrainingBtn:global.ant-btn {
    margin-top: 38px;

    @media (max-width: 360px) {
        margin-top: 4px;
        width: 100%;
    }
}
