.Card:global.ant-card {
    --divider-border: 1px solid rgba(0, 0, 0, 0.06);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
    line-height: 130%;

    .ant-card-body {
        padding: 0;
    }
}

.CardHeader {
    padding: var(--space-3);
    border-bottom: var(--divider-border);
}

.CardFooter {
    padding: var(--space-3);
    border-top: var(--divider-border);
}

.CardBody {
    padding-inline: var(--space-3);
}
