.Main:global.ant-layout-content {
    padding: 24px;
    padding-bottom: 0;

    @media (max-width: 575px) {
        padding-inline: 16px;
    }
}

.Wrap {
    max-width: 752px;
    container: cards-container / inline-size;
}
