.Main {
    padding: 24px;
    padding-bottom: 42px;

    @media (max-width: 575px) {
        padding-inline: 16px;
    }
}

.Wrap {
    max-width: 752px;
    container: cards-container / inline-size;
}
