@import '../styles.module.less';

.TrainingCardHeader {
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 0;
    padding-top: var(--space-4);
}

.TrainingCardTitle {
    font-weight: 700;
    font-size: var(--font-size-sm);
    color: var(--character-light-title-85);
}

.CloseButton:global.ant-btn {
    @card-navigation-btn();
}

.TrainingList {
    min-height: 84px;
    padding-block: var(--space-4);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.TrainingListItem {
    display: flex;
    justify-content: space-between;
    transition: background 0.2s;
    padding-left: var(--space-3);

    &:hover {
        background: var(--theme-gray-3);
    }
}
