.Form:global.ant-form {
    .ant-form-item {
        margin-bottom: 32px;
    }
}

.Input:global.ant-input {
    height: 40px;
}

.RememberWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 24px;
}

.LoginButton:global.ant-btn {
    margin-bottom: 16px;
}
