:root {
    --app-header-height: 80px;
}

@media screen and (max-width: 61.98em) {
    :root {
        --app-header-height: 64px;
    }
}

.glow-circle {
    position: relative;
}

.glow-circle:before {
    content: '';
    inset: 0;
    position: absolute;
    mask-image: radial-gradient(circle closest-side, black, transparent);
    background: radial-gradient(
        circle closest-side,
        rgba(var(--chakra-colors-lime-300-rgb), 0.7),
        rgba(255, 255, 255, 0.7)
    );
}

.custom-scrollbar::-webkit-scrollbar {
    width: var(--chakra-space-2);
}

.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: var(--chakra-radii-lg);
    background-color: var(--chakra-colors-blackAlpha-50);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: var(--chakra-radii-lg);
    background-color: var(--chakra-colors-blackAlpha-300);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--chakra-colors-blackAlpha-400);
}

@supports not selector(::-webkit-scrollbar) {
    .custom-scrollbar {
        scrollbar-width: thin;
        scrollbar-color: var(--chakra-colors-blackAlpha-300) var(--chakra-colors-blackAlpha-50);
    }
}
