.Title {
    font-size: var(--font-size-xl);
    text-align: center;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin-bottom: var(--space-6);
}

.ConfirmPwd:global.ant-form-item {
    margin-bottom: 62px;

    .ant-form-item-explain-error {
        font-size: var(--font-size-xs);
    }
}
