.Title {
    font-size: 24px;
    text-align: center;
    line-height: 130%;
    color: var(--character-light-title-85);
    margin-bottom: 32px;
}

.ConfirmPwd:global.ant-form-item {
    margin-bottom: 62px;

    .ant-form-item-explain-error {
        font-size: 12px;
    }
}
