.Form:global.ant-form {
    margin-top: var(--space-5);
    margin-bottom: 89px;

    .ant-form-item {
        margin-bottom: var(--space-6);
    }
}

.Input:global.ant-input {
    height: 40px;
}

.RememberWrap :global {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: var(--space-5);

    .ant-form-item {
        margin-bottom: 0 !important;
    }
}

.Btn:global.ant-btn {
    @media (max-width: 575px) {
        font-size: var(--font-size-sm);
    }
}

.LoginButton:global.ant-btn {
    margin-bottom: var(--space-4);
}

.RestorePasswordBtn:global.ant-btn {
    font-size: var(--font-size-md);

    @media (max-width: 575px) {
        font-size: var(--font-size-sm);
    }
}
