@import '../styles.module.less';

.CancelButton:global.ant-btn {
    @card-navigation-btn();
}

.CreateTrainingCardHeader {
    padding-block: 12.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-1);
}

.TrainingTypeSelect:global.ant-select {
    width: 100%;

    .ant-select-selection-placeholder {
        color: var(--character-light-title-85);
    }

    &:not(.ant-select-focused) {
        .ant-select-selector {
            border-color: transparent;
        }
    }
}

.ExerciseList {
    min-height: 84px;
    padding-block: var(--space-4);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.ExerciseListItem {
    display: flex;
    justify-content: space-between;
    transition: background 0.2s;
    padding-left: var(--space-3);

    &:hover {
        background: var(--theme-gray-3);
    }
}
