.Card:global.ant-card {
    position: relative;
    z-index: 1;
    width: 539px;
    height: 686px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

    &:after {
        position: absolute;
        inset: 0;
        background-color: rgba(121, 156, 212, 0.5);
        content: '';
        opacity: 0;
        pointer-events: none;
    }

    /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
    &:local(.Blur) {
        --blur-transition-duration: 0.15s;
        filter: blur(6px);
        transition: filter var(--blur-transition-duration);

        &:after {
            opacity: 1;
            transition: opacity var(--blur-transition-duration);
        }
    }

    .ant-card-body {
        padding: 64px 85.5px;
    }
}

.Logo {
    width: 309px;
    margin: 0 auto;
    margin-bottom: 48px;
}

.Tabs:global.ant-tabs {
    .ant-tabs-nav {
        margin-bottom: 32px;
    }

    .ant-tabs-nav-list {
        width: 100%;
    }

    .ant-tabs-tab {
        flex: 1;
        justify-content: center;
        font-size: 1rem;
    }
}
