.Form:global.ant-form {
    margin-top: 32px;

    @media (max-width: 575px) {
        margin-top: 24px;
    }

    .ant-form-item:not(:nth-child(2)) {
        margin-bottom: 32px;
    }

    .ant-form-item-explain-error {
        font-size: 12px;
    }
}

.RegisterBtn:global.ant-btn {
    margin-bottom: 16px;
}

.Btn:global.ant-btn {
    @media (max-width: 575px) {
        font-size: 14px;
    }
}

.ConfirmPwd:global.ant-form-item {
    .Form & {
        margin-bottom: 62px;

        @media (max-width: 575px) {
            margin-bottom: 54px;
        }
    }
}
