.Form:global.ant-form {
    margin-top: var(--space-6);

    @media (max-width: 575px) {
        margin-top: var(--space-5);
    }

    .ant-form-item:not(:nth-child(2)) {
        margin-bottom: var(--space-6);
    }

    .ant-form-item-explain-error {
        font-size: var(--font-size-xs);
    }
}

.RegisterBtn:global.ant-btn {
    margin-bottom: var(--space-4);
}

.Btn:global.ant-btn {
    @media (max-width: 575px) {
        font-size: var(--font-size-sm);
    }
}

.ConfirmPwd:global.ant-form-item {
    .Form & {
        margin-bottom: 62px;

        @media (max-width: 575px) {
            margin-bottom: 54px;
        }
    }
}
