.ExtraErrorColor:global.ant-form-item .ant-form-item-extra {
    color: var(--ant-error-color);
}

.FormItem:global.ant-form-item {
    .ant-form-item-margin-offset {
        display: none !important;
    }

    .ant-form-item-control-input + div:not(.ant-form-item-extra) {
        display: none !important;
    }
}
