.ResultModal:global.ant-modal {
    .ant-modal-body {
        padding: 64px 85.5px;

        @media (max-width: 575px) {
            padding: var(--space-6) var(--space-4);
        }
    }

    .ant-result {
        padding: 0;

        .ant-result-title {
            color: var(--character-light-title-85);
            font-weight: 500;
        }
    }
}
