.Logo {
    width: 309px;
    margin: 0 auto;
    margin-bottom: var(--space-8);

    @media (max-width: 575px) {
        width: 203px;
        margin-bottom: var(--space-6);
    }
}

.Tabs:global.ant-tabs {
    .ant-tabs-nav {
        margin-bottom: 0;
    }

    .ant-tabs-nav-list {
        width: 100%;
    }

    .ant-tabs-tab {
        flex: 1;
        justify-content: center;
        font-size: var(--font-size-md);

        @media (max-width: 575px) {
            font-size: var(--font-size-sm);
        }
    }
}
