.ExtraErrorColor:global.ant-form-item .ant-form-item-extra {
    color: var(--ant-error-color);
}

.FormItem:global.ant-form-item {
    margin-bottom: var(--space-4);

    .ant-form-item-margin-offset {
        display: none !important; /* overriding inline styles */
    }

    .ant-form-item-control-input + div:not(.ant-form-item-extra) {
        display: none !important; /* overriding inine styles */
    }

    .ant-form-item-extra {
        font-size: var(--font-size-xs);
    }
}
