:root {
    --theme-neutral: #fff;
    --theme-primary-light-1: #f0f5ff;
    --theme-primary-light-6: #2f54eb;
    --theme-primary-light-7: #1d39c4;
    --theme-primary-light-9: #061178;
    --theme-primary-light-10: #030852;
    --theme-gray-4: #f0f0f0;
    --theme-gray-3: #f5f5f5;
    --character-light-title-85: #262626;
    --character-light-secondary-45: #8c8c8c;
    --character-light-disable-25: #bfbfbf;
    --loader-backdrop-color: rgba(121, 156, 212, 0.5);
    --loader-backdrop-filter: blur(6px);
    --modal-backdrop-color: rgba(121, 156, 212, 0.1);
    --modal-backdrop-filter: blur(6px);
}

body {
    font-family: Inter;
    line-height: 130%;
}

ol,
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
    margin: 0;
    color: inherit;
}

a,
a:any-link {
    color: var(--theme-primary-light-6);
}
