.GoBackBtn:global.ant-btn {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.Content:global.ant-layout-content {
    background-color: var(--theme-gray-3);
    padding-bottom: 42px;

    @media (max-width: 480px) {
        padding-inline: 0;
    }
}
