.ScreenWrap {
    --list-max-height: 710px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 132px;
    padding-bottom: var(--space-8);

    &.ShowAll {
        justify-content: space-between;
        gap: 0;
    }

    @media (max-width: 575px) {
        gap: 0;
    }
}

.CardListWrap {
    max-height: var(--list-max-height);

    @media (max-width: 575px) {
        margin-bottom: var(--space-8);
    }

    &.ShowAll {
        height: var(--list-max-height);
    }
}

.ListContainer {
    max-height: var(--list-max-height);
    overflow-y: auto;
}

.Row {
    margin-bottom: 20px;
    margin-right: var(--space-5);

    @media (max-width: 575px) {
        margin-bottom: var(--space-4);
        margin-right: var(--space-4);
    }
}

.ButtonsWrap {
    display: flex;
    column-gap: var(--space-3);
    row-gap: var(--space-4);
    padding-right: var(--space-5);

    @media (max-width: 575px) {
        padding-right: var(--space-4);
        flex-direction: column;
    }
}

.ShowAllBtn:global.ant-btn {
    color: var(--theme-primary-light-6);

    &:hover,
    &:active,
    &:focus {
        color: var(--ant-primary-color-hover);
    }
}
