.Footer:global.ant-layout-footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 42px;
    background: transparent;
    padding-inline: var(--space-5);

    @media (max-width: 575px) {
        padding-inline: var(--space-4);
    }

    @container content-container (width < 550px) {
        flex-direction: column;
        align-items: center;
        row-gap: var(--space-5);
    }
}

.FooterDownloadApp {
    width: 240px;

    @container content-container (width < 550px) {
        width: 100%;
        order: 1;
        text-align: center;
    }
}

.Link {
    padding: 10px 15px;

    @container content-container (width < 550px) {
        order: 2;
    }
}
